---
import { AuthForm } from "@/components/AuthForm";
import Layout from "@/layouts/Layout.astro";

export const prerender = false;

// Get the token from URL hash (Supabase redirects with #access_token=...)
// We'll pass it to the client component to handle
---

<Layout title="Reset Password - SipStory">
  <main class="flex min-h-screen items-center justify-center p-4">
    <AuthForm mode="reset-password-confirm" client:load />
  </main>
</Layout>
